
 
/**fondo menu*/ 
div{
  margin: auto;
  height: 170px;
  width: 600px;
  text-align: center;
}

nav{
  height: 120px;
  background-color:black;
  text-align: center;
}

/**txukun txukin*/
nav ul{
   list-style: none;
   display: inline-block;
   padding:18px;
}

/**horizontal*/
nav ul li{
    float: left;
    margin-top: 20px;
}

/**texto del menu*/
nav ul li a {
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
/**color cuando pones el raton encima*/
nav ul li a:hover{
  background-color: greenyellow;
}